<span class="glyphicon glyphicon-refresh glyphicon-spin spinner" *ngIf="loading"></span>
<div>
    <nav class="navbar navbar-inverse bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand">{{pageTitle}}
               
            </a>
            <ul class="nav navbar-nav">
              
              
                    <li class="nav nav-item dropdown" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          FileTransfer
          <span class="caret"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
           
                  <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                 <a [routerLink]="['/configs']">Search</a>
                  </li>
                   <li routerLinkActive="active">
                <a [routerLink]="['/configs', 0, 'edit']">Add New</a>
                </li>
                 <li routerLinkActive="active">
                <a [routerLink]="['/logs']">Search Logs</a>
                </li>
                              
         
        </div>
                    </li>
                   
            </ul>
            
         
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="authService.isLoggedIn()">
                    <a [routerLink]="['/login']">Welcome {{ authService.currentUser.userName }}</a>
                </li>
                <li *ngIf="!messageService.isDisplayed">
                    <a (click)="displayMessages()">Show Messages</a>
                </li>
                <li *ngIf="messageService.isDisplayed">
                    <a (click)="hideMessages()">Hide Messages</a>
                </li>
                <li *ngIf="!authService.isLoggedIn()">
                    <a [routerLink]="['/login']">Log In</a>
                </li>
                <li *ngIf="authService.isLoggedIn()">
                    <a (click)="logOut()">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="configList col-md-10">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-2">
                <router-outlet name="popup"></router-outlet>
            </div>
        </div>
        
      
        
    </div>
</div>