<div class="panel panel-primary">
    <div class="panel-heading" style="font-size:large">
        {{pageTitle + ": " + config.interfaceName}}
    </div>
      <!-- Filter the Products   -->
    <div class="panel-body">
       <!--  <div class="row">
             <div class="form-group">
            <div class="col-md-2">Search by:</div>
            <div class="col-md-4">
                
                <input-debounce name="searchUser" delay="500" placeholder="Type File Interface Name..." (value)="searchConfig($event)"></input-debounce>
            </div>
             </div>
           
            
            
        </div>
        <div class="row" *ngIf="filteredValue!=null">
            <div class="col-md-6">
                <h3>Filtered by: {{filteredValue}} </h3>
            </div>
        </div>

        <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>-->
        
        <div *ngIf="logs.length == 0">
               <strong>No logs found.</strong>
        </div>

        <div class="table-responsive">
            <table class="table table-hover"
                   *ngIf="logs && logs.length">
                <thead>
                    <tr>
                       <!-- <th>
                            <button class="btn btn-primary"
                                (click)="toggleImage()">
                                {{showImage ? "Hide" : "Show"}} Image
                            </button>
                        </th>-->
                        <th>File Name</th>
                        <th>Processed Status</th>
                        <th>Processed Timestamp</th>
                        <!--<th>Destination Address</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let log of logs">
                        <!--<td>
                            <img *ngIf="showImage && product.imageUrl"
                                 [src]="product.imageUrl"
                                 [title]="product.interfaceName | uppercase"
                                 [style.width.px]="imageWidth" 
                                 [style.margin.px]="imageMargin">
                        </td>-->
                        <td>
                            {{log.transferredFileName}}
                            
                        </td>
                        <td>{{ log.processedStatus }}</td>
                        <td>{{ log.processedTimestamp }}</td>
                        <!--<td>{{ product.destinationAddress}}</td>-->
                       <!-- <td>
                            <ai-star [rating]="product.starRating">
                            </ai-star>
                       </td>-->                     
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
      
      <div class="panel-footer">
      
        <a class="btn btn-default"
           [routerLink]="['/configs']"
           queryParamsHandling="preserve">
            <i class="glyphicon glyphicon-chevron-left"></i> Back
        </a>
      
    </div>
   
</div>