<div class="panel-body">
    <form class="form-horizontal"
          novalidate>
        <fieldset>
            <legend>Email Configuration</legend>
           
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (fromAddressVar.touched || 
                                              fromAddressVar.dirty || config.id !== 0) && 
                                              !fromAddressVar.valid }">
                <label class="col-md-2 control-label" for="fromAddressId">From Address</label>
                <div class="col-md-8">
                    <input class="form-control" 
                           id="fromAddressId" 
                           type="text"
                           required
                           placeholder="test1@caasco.ca,test2@caasco.ca"                          
                           minlength="3"
                           [(ngModel)]="config.emailInfo.fromAddr"
                           name="fromAddress"
                           #fromAddressVar="ngModel" />
                    <span class="help-block" *ngIf="(fromAddressVar.touched ||
                                                     fromAddressVar.dirty || config.emailInfo.id !== 0) &&
                                                     fromAddressVar.errors">
                        <span *ngIf="fromAddressVar.errors.required">
                            From Address is Required.
                        </span>
                    
                    </span>
                </div>
            </div>
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (toAddressVar.touched || 
                                              toAddressVar.dirty || config.id !== 0) && 
                                              !toAddressVar.valid }">
                <label class="col-md-2 control-label" for="toAddressId">To Address</label>
                <div class="col-md-8">
                    <input class="form-control" 
                           id="toAddressId" 
                           type="text"
                           placeholder="test1@caasco.ca,test2@caasco.ca"
                        required
                           minlength="3"
                           [(ngModel)]="config.emailInfo.toAddr"
                           name="toAddress"
                           #toAddressVar="ngModel" />
                 <span class="help-block" *ngIf="(toAddressVar.touched ||
                                                     toAddressVar.dirty || config.emailInfo.id !== 0) &&
                                                     toAddressVar.errors">
                        <span *ngIf="toAddressVar.errors.required">
                            To Address is Required.
                        </span>
                       
                    </span>
                </div>
            </div>
            
              <div class="form-group" 
                    [ngClass]="{'has-error': (bccAddressVar.touched || 
                                              bccAddressVar.dirty || config.id !== 0) && 
                                              !bccAddressVar.valid }">
                <label class="col-md-2 control-label" for="bccAddressVarId">BCC Address</label>
                <div class="col-md-8">
                    <input class="form-control" 
                           id="bccAddressVarId" 
                           type="text"
                           placeholder="test1@caasco.ca,test2@caasco.ca"                          
                           minlength="3"
                           [(ngModel)]="config.emailInfo.bccAddr"
                           name="bccAddress"
                           #bccAddressVar="ngModel" />
                    <!--<span class="help-block" *ngIf="(fromAddressVar.touched ||
                                                     fromAddressVar.dirty || config.emailInfo.id !== 0) &&
                                                     fromAddressVar.errors">
                        <span *ngIf="fromAddressVar.errors.required">
                            A category must be entered.
                        </span>
                        <span *ngIf="fromAddressVar.errors.minlength">
                            The category must be at least 3 characters in length.
                        </span>
                    </span>-->
                </div>
            </div>
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (ccAddressVar.touched || 
                                              ccAddressVar.dirty || config.id !== 0) && 
                                              !ccAddressVar.valid }">
                <label class="col-md-2 control-label" for="ccAddressVarId">CC Address</label>
                <div class="col-md-8">
                    <input class="form-control" 
                           id="ccAddressVarId" 
                           type="text"
                           placeholder="test1@caasco.ca,test2@caasco.ca"                          
                           minlength="3"
                           [(ngModel)]="config.emailInfo.ccAddr"
                           name="ccAddress"
                           #ccAddressVar="ngModel" />
                    <!--<span class="help-block" *ngIf="(fromAddressVar.touched ||
                                                     fromAddressVar.dirty || config.emailInfo.id !== 0) &&
                                                     fromAddressVar.errors">
                        <span *ngIf="fromAddressVar.errors.required">
                            A category must be entered.
                        </span>
                        <span *ngIf="fromAddressVar.errors.minlength">
                            The category must be at least 3 characters in length.
                        </span>
                    </span>-->
                </div>
            </div>
            
            <div class="form-group" 
                    [ngClass]="{'has-error': (subjectVar.touched || 
                                              subjectVar.dirty || config.id !== 0) && 
                                              !subjectVar.valid }">
                <label class="col-md-2 control-label" for="subjectId">Subject</label>
                <div class="col-md-8">
                    <input class="form-control" 
                           id="ccAddressVarId" 
                           type="text"
                           placeholder="test1@caasco.ca,test2@caasco.ca"                          
                           minlength="3"
                           [(ngModel)]="config.emailInfo.subject"
                           name="subject"
                           #subjectVar="ngModel"/>
                  
                </div>
            </div>
            
             <div class="form-group" 
                    [ngClass]="{'has-error': (bodyVar.touched || 
                                              bodyVar.dirty || config.id !== 0) && 
                                              !bodyVar.valid }">
                <label class="col-md-2 control-label" for="bodyId">Body</label>
                <div class="col-md-8">
                    <input class="form-control" 
                           id="bodyId" 
                           type="text"
                           placeholder="test1@caasco.ca,test2@caasco.ca"                          
                           minlength="3"
                           [(ngModel)]="config.emailInfo.body"
                           name="body"
                           #bodyVar="ngModel" />
                  
                </div>
            </div>
            
            <!-- < <div class="form-group" 
                    [ngClass]="{'has-error': (testVar.touched || 
                                              testVar.dirty || config.id !== 0) && 
                                              !testVar.valid }">
                <label class="col-md-2 control-label" for="testId">TEst</label>
                <div class="col-md-8">
                    <email id="testId" name="test" values="askdjf,akdjfaks" 
                    (result)="update($event)"></email>
                </div>
            </div>
            

           div class="form-group" 
                    [ngClass]="{'has-error': (tagVar.touched || 
                                              tagVar.dirty || config.emailInfo.id !== 0) && 
                                              !tagVar.valid }">
                <label class="col-md-2 control-label" for="tagsId">Search Tags</label>
                <div class="col-md-8">
                    <input class="form-control" 
                           id="tagsId" 
                           type="text"
                           placeholder="Search keywords separated by commas"
                           minlength="3"
                           [(ngModel)]="config.emailInfo.fromAddr"
                           name="tags"
                           #tagVar="ngModel" />
                    <span class="help-block" *ngIf="(tagVar.touched ||
                                                     tagVar.dirty || config.id !== 0) &&
                                                     tagVar.errors">
                        <span *ngIf="tagVar.errors.minlength">
                            The search tag must be at least 3 characters in length.
                        </span>
                    </span>
                </div>
                <div class="col-md-1">
                    <button type="button"
                            class="btn btn-default"
                            (click)="addTags()">
                        Add
                    </button>
                </div>
            </div>
            <div class="row col-md-8 col-md-offset-2">
                <span *ngFor="let tag of [config.emailInfo.fromAddr]; let i = index">
                    <button class="btn btn-default"
                            style="font-size:smaller;margin-bottom:12px"
                            (click)="removeTag(i)">
                        {{tag}}
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </span>
            </div>-->
            <div class="has-error" *ngIf="errorMessage">{{errorMessage}}</div>
        </fieldset>
    </form>
</div>